.popUpProfile {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1f262a;
    border-radius: 3px 0;
    width: fit-content;
    height: 448px;
    font-family: "Candara", sans-serif;
    font-size: 25px;
    color: #ac9168;
    padding-inline: 40px;

    .backgroundTop {
      position: absolute;
      z-index: -1;
      top: -21px;
      right: -52px;
      pointer-events: none;
    }

    .backgroundBot {
      z-index: -1;
      position: absolute;
      pointer-events: none;
      bottom: 0;
      left: -44px;
    }

    .textEntry {
      margin-top: 48px;
    }

    .buttonClose {
      position: absolute;
      z-index: 3;
      top: 34px;
      right: 34px;
    }

    .buttonLogin {
      font-family: "Candara", sans-serif;
      font-weight: 300;
      color: #fff;
      background-color: transparent;
      border: 1px solid #AC9168;
      cursor: pointer;
      margin-top: 40px;
      padding: 8px 62px;
    }

    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      font-weight: 200;

      .text {
        font-size: 18px;
        color: #fff;
        padding-right: 14px;
      }

      .input {
        font-weight: 200;
        font-size: 19px;
        background-color: transparent;
        border: 0;
        height: 30px;
        border-bottom: 1px solid #AC9168;
        outline: none;
        color: #fff;

        //&:-webkit-autofill, &:-webkit-autofill:focus {
        //}
      }
    }

    .textInfo {
      font-family: "Candara", sans-serif;
      font-size: 12px;
    }

    .buttonRegister {
      font-family: "Candara", sans-serif;
      font-size: 16px;
      background-color: transparent;
      border: 0;
      color: #ac9168;
      cursor: pointer;
      margin: 25px 0 40px;
    }
  }
}

