.aboutContainer {
  background-color: #1F262A;
  display: flex;
  flex-direction: column;
  align-items: center;

  .textLarge {
    margin: 0;
    padding-top: 35px;
    color: #FFF;
    font-family: Viaoda Libre, serif;
    font-size: 35px;
    font-weight: 400;
  }

  .textSmall {
    text-align: center;
    color: #AC9168;
    font-family: "Candara Light", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .line {
    width: 400px;
    height: 10px;
    border: 0;
    background-color: #AC9168;
  }
}