.reviews {
  display: flex;
  background-color: #1F262A;
  padding-bottom: 28px;

  .button {
    padding: 0 12px;
    z-index: 2;
    left: 0;
  }

  .hidden {
    padding: 0 12px;
    visibility: hidden;
  }

  .emptyContainer {
    padding: 0 12px;
    width: 16px;
  }

  .containerReviews {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 98vw;
    background-color: #1F262A;
    overflow-x: hidden;
    background-image: url("../../../public/img/reviewsBackground.svg");
    background-size: 100%;



    .cards {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96%;

      .card {
        height: 130px;
        min-width: 270px;
        margin-inline: 18px;
        border: 1px solid #ffffff;
        background: #131719;

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 10px;

          .name {
            font-family: "Candara", sans-serif;
            font-size: 22px;
            color: #fff;
            margin: 5px 5px;
          }

          .stars {
            margin-top: 5px;

            .star {
              width: 24px;
            }
          }
        }

        .text {
          margin: 10px;
          padding-inline: 4px;
          font-weight: 200;
          font-family: "Candara", sans-serif;
          font-size: 18px;
          color: #fff;
        }
      }
    }
  }
}