.registration {
  height: 87vh;
  background-color: #1F262A;
  display: flex;
  justify-content: center;
  font-family:  "Viaoda Libre", sans-serif;
  font-size: 30px;
  color: #ac9168;
  z-index: 3;
  .textTop {

  }
}
