.settings {
  position: relative;
  line-height: 0;
  background-color: #1F262A;

  .image {
    margin-top: 40vh;
    width: 100%;
  }

  .window {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    line-height: 1;
    top: 0;
    width: 80vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 72vh;
    background-color: #131719;

    .leftImg {
      position: absolute;
      left: -16px;
      height: 100%;
      pointer-events: none;
    }

    .rightImg {
      position: absolute;
      right: -16px;
      height: 100%;
      pointer-events: none;
    }

    .info {
      display: flex;
      font-family: "Candara", sans-serif;
      font-weight: 300;
      justify-content: center;
      padding: 80px 0 0;


      .brownContainer {
        padding: 0 30px 0 150px;
        font-size: 16px;

        .text {
          margin-top: 37px;
          color: #AC9168;


          &:first-child {
            margin-top: 18px;
          }
        }

        .red {
          color: red;
        }
      }

      .whiteContainer {
        color: white;
        font-size: 18px;
        width: 25vw;
        height: 360px;

        .line {
          display: flex;
          align-items: center;

          .input {
            font-family: "Candara", sans-serif;
            font-weight: 300;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #AC9168;
            color: white;
            outline: none;
            width: 25vw;
            padding: 6px 8px 8px;
            margin-top: 16px;
          }

          .saveButton {
            border: 1px solid #ac9168;
            padding: 6px 15px;
            color: #AC9168;
            background-color: transparent;
            font-family: "Candara", sans-serif;
            font-weight: 300;
            width: fit-content;
            font-size: 15px;
            cursor: pointer;
            margin-left: 12px;
            margin-top: 12px;
            z-index: 999;
          }

          .editImg {
            width: 16px;
            height: 16px;
            padding: 0 0 0 15px;
            cursor: pointer;
          }
        }
      }
    }

    .buttonPass {
      border: 1px solid #ac9168;
      padding: 8px 15px;
      color: #AC9168;
      background-color: transparent;
      font-family: "Candara", sans-serif;
      font-weight: 300;
      width: fit-content;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        background-color: #171C1F;
      }
    }

    .password {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .content {
        background-color: #0C0F11;
        padding: 40px 100px 30px;
        border-bottom: 1px solid #ac9168;
        border-top: 3px solid #ac9168;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .line {
          display: flex;
          font-family: Candara, sans-serif;
          font-weight: 300;
          font-size: 16px;
          justify-content: center;
          align-items: center;

          .text {
            color: #fff;
          }

          .red {
            color: red;
          }

          .input {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #ac9168;
            color: #fff;
            outline: none;
            height: fit-content;
            margin-left: 30px;
          }
        }

        .button {
          border: 1px solid #ac9168;
          padding: 8px 15px;
          color: #AC9168;
          background-color: transparent;
          font-family: "Candara", sans-serif;
          font-weight: 300;
          width: fit-content;
          font-size: 15px;
          cursor: pointer;
          margin-top: 35px;
        }
      }
    }

    .xmark {
      position: absolute;
      top: 7px;
      right: 15px;
      z-index: 9;
      width: 20px;
      cursor: pointer;
    }
  }
}
