.deleteCard {
  position: relative;
  background: #131719;
  font-family: "Candara Light", sans-serif;
  color: white;
  width: 460px;
  height: 150px;
  margin: 45px 50px 50px ;
  font-size: 26px;
  text-align: center;

  .button {
    background: transparent;
    border: 1px solid #AC9168;
    color: #AC9168;
    font-size: 20px;
    padding: 8px 15px;
    margin: 0 70px 30px;
    cursor: pointer;

    &:hover {
      background: #0C0F11;
    }
  }

}

.cardNews  {
  color: #AC9168;
  font-family: "Viaoda Libre", sans-serif;
  font-size: 30px;
  padding: 0 50px 50px;

  .title1 {
    padding-left: 18px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .bodyNews {
    position: relative;
    background: #131719;
    font-family: "Candara Light", sans-serif;
    color: white;
    width: 460px;
    height: 150px;
    margin-top: 0;


    .title2 {
      padding: 12px 32px 15px 18px;
      font-size: 25px;
      margin: 0;

    }

    .descrNew {
      font-size: 15px;
      text-align: left;
      white-space: pre-line;
      line-height: 20px;
      padding: 0 0 20px 18px;
      margin: 0;

    }

    .editImg {
      position: absolute;
      width: 17px;
      top: 12px;
      right: 12px;
      cursor: pointer;

    }

    .deleteImg {
      position: absolute;
      width: 17px;
      right: 12px;
      bottom: 12px;
      cursor: pointer;

    }

  }

}